

<div id="divHeaderContainer">
    <div style="width: 800px">
        <div style="float: left; width: 250px;">
            <div>
                <span>
                    Statement Date:
                </span>
                <span>
                    November 30, 2013
                </span>
            </div>
        </div>
        <div style="float: left;  width: 300px;">
            <img src="~/Images/login-logo.png" />
        </div>
        <div style="float: left;  width: 250px;">
            <div>
                Alpine Pacific Nut Co., Inc.
            </div>
        </div>
    </div>
</div>